<link rel="stylesheet" href="/layout_styles.css">
<link rel="stylesheet" href="https://http2.mlstatic.com/shops/1020578981/appearance/styles/bc5b42322ccf42cc92c4b7406156141f/home.css?scope=prod">
<link rel="stylesheet" href="https://http2.mlstatic.com/shops/appearance/themes/custom/033efb201d236d65118e8d3a09cc9953/styles.css?scope=prod">
<link rel="stylesheet" href="https://http2.mlstatic.com/frontend-assets/mshops-web-home/fashion/home-fashion-desktop.1f38ce27.css">

{{#with header}}
  {{> header}}
{{/with}}
<main>
  <div class="nav-main-content">
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
  </div>
</main>
<div itemtype="http://schema.org/Store" itemID="#this" itemScope style="position: relative; bottom:0;width:100%">
  {{#with footer}}
    {{> footer}}
  {{/with}}
</div>

{{> scripts}}
